#wrapper {
  width: 1045px;
  margin: 0 auto;
}
#wrapper p.logo {
  font-size: 45px;
  color: #40454f;
  margin-bottom: 15px;
  text-shadow: 2px 2px 3px #bbb;
}
#wrapper span {font-weight: bold;}
#wrapper #main .about {
  height: 200px;
  background:#5ea9dd;
  padding: 5px;
  border-radius: 12px;
}
#main .about h3 {margin-bottom: 10px; padding-left: 15px;color: white;font-size: 25px;margin:15px 0;}
#main .about p {color: white; padding: 0 10px;}
#footer p {color: #40454f;}

